:root{
    --font-xsmall: 14px;
    --font-small: 18px;
    --font-medium: 20px;
    --font-large: 24px;
}

.off-desktop{
    display: none;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .logo img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50px;
}

header .navbar .logo {
    margin-top: 15px;
    margin-left: 70px;
}

header .navbar .menu {
    display: flex;    
    align-items: center;
}

header .navbar .menu a{
    width: 175px;
    height: 120px;
    text-align: center;
    display: block;
    line-height: 115px;
}

header .navbar ul li a:hover{
    border-top:2px solid var(--dark-blue-color);
    color:var(--dark-blue-color);
}

header .navbar ul li a:active{
    border-top:2px solid var(--dark-blue-color);
    color:var(--dark-blue-color);
}

header .affinity{
    padding-left: 55px;
}

header .affinity .site-description p:first-of-type{
    margin-top: 7px;
    font-size: var(--font-medium);
}

header .affinity .site-description :last-child{
    font-size: var(--font-small);
    margin-top:10px;
}

.affinity .search form{
    margin-top: 15px;
    font-family: var(--fonts-raleway-bold);
    display: flex;
   
}

.affinity .search i{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.affinity .search i.fa-map-marker-alt{
    background-color: var(--light-grey-color);
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.affinity .search i.fa-search{
    color:var(--plain-white-color);
    border-radius:15px;
    background-color: var(--dark-blue-color);
}

.affinity .search .input-field{
    font-size: var(--font-normal);
    border:2px solid var(--light-grey-color);
    padding-left: 25px;
    width: 265px;
}

.affinity .submit-bt{
    margin-left: -20px;
    background-color: var(--dark-blue-color);
    color:var(--plain-white-color);
    padding-left:20px;
    padding-right:20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.affinity .submit-bt:hover{
    background-color: var(--plain-white-color);
    color:var(--dark-blue-color);
    border : 1px solid var(--dark-blue-color);
}

.affinity .filters{
    display: flex;
    height:50px;
    margin-top: 25px;
}
.affinity .filters h3{
    line-height: 50px;
    margin-left: 5px;
}

.affinity .filters ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-left: 45px;
}

.affinity .filters li i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: 5px;
    color:var(--dark-blue-color);
    background-color: var(--light-blue-color);
    border-radius: 50px;
}
.affinity .filters li:hover i{
    color:var(--light-blue-color);
    background-color: var(--dark-blue-color);
}

.affinity .filters li{
    display: flex;
    border-radius: 50px;
    border:2px solid #d8d8d8;
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-small);
    text-align: center;
    height:50px;
    padding-right: 20px;
}
.affinity .filters li:hover{
    cursor:pointer;
    border:2px solid var(--light-blue-color);
    color:var(--dark-blue-color);
    background-color: var(--light-blue-color);
}

.affinity .filters li p{
    padding-top:12px;
    padding-left: 4px;
}

.affinity .search-results{
    display: flex;
    font-size: var(--font-small);
    margin-top:35px;
}

.affinity .search-results i.fa-solid.fa-info{
    color:var(--dark-blue-color);
    border:1px solid var(--middle-grey-color);
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-left:10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: var(--font-xsmall);
}

.affinity .search-results p{
    margin-top:5px;
}

main{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

main .hebergement {
    padding: 45px;
    flex:3;
}

main .hosting {
    display: flex;
    gap:30px;
    margin-top:40px;
    margin-bottom:40px;
}

main .hosting a{
    display: block;
    flex:1;
    height:360px;

}

main .hosting a:hover{
    transform: scale(102%);
    
}

main .activity :hover article{
    background: rgb(250, 244, 244);
}

main .activity :hover{
    transform: scale(102%);   
}

main .hosting a:hover article{
    background: rgb(250, 244, 244);
}



main .popular a:hover{
    transform: scale(102%);
}
main .popular a:hover article{
    background: rgb(250, 244, 244);
}


main .hosting a article{
    width: 100%;
    height:100%;
    padding: 5px;
    position: relative;
} 

main .hosting a article img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height:240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 

main .hosting  article .description{
    margin-top: 10px;
    height: 70px;
}
main .hosting article .rating{
    position:absolute;
    bottom:5px;
}

main .see-more{
    font-family: var(--fonts-raleway-bold);
    font-size:var(--font-small);
    margin-top: 30px;
}

main .activity article p, main .activity article h4{
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:5px;
}

main .box{
    border-radius: 20px;
    background-color: var(--light-grey-color);
}

main .row{
    display:flex;
    gap:40px;
}

main .popular {
    padding: 45px;
    flex:2;
}
main .popular h2{
    display: flex;
    justify-content: space-between;
}

main .popular .cards{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap:30px;
}

main .popular .cards a{
    display: block;
    flex: 1;
}

main .popular .cards a article{
    padding:5px;
    display: flex;
    flex-direction: row;
    height:200px;
}

main .popular .cards a article img{
    flex:1;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    max-height: 100%;
    width:120px;
    height: 200px;
    
}

main .popular .cards a article .description{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

main .activity h2{
    margin-top: 60px;
    margin-bottom: 20px;
}

main .activity .act {
    display:flex;
    height:500px;    
    gap:30px;
}

main .act div{
    flex:1;
}

main .activity article :hover{
    cursor: pointer;
}

main .act div:nth-child(1), .act div:nth-child(3){
    height:100%;
}

main .act article, .act .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .activity article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main .act div:nth-child(1) article, .act div:nth-child(3) article{
    height:100%;
}

main .act div:nth-child(1) article img, .act div:nth-child(3) article img{
    height:100%;
}

main .act .column article{
    height:45%;

}

main .act .column article img{
    max-height:80%;
}

footer{
    margin-top:60px;
    padding-top:45px;
    padding-left:75px;
    padding-right: 75px;
    padding-bottom: 45px;
    background-color: var(--light-grey-color);
}

footer .inner-foot{
    display: flex;
    gap:300px;
}

footer .column-foot h3{
    margin-bottom: 20px;
}

footer li{
    line-height:30px;
}
