.wrapper{
    all:unset;
}

:root{
    --font-xsmall: 12px;
    --font-small: 14px;
    --font-normal: 16px;
    --font-medium: 19px;
    --font-large: 24px;
}

.off-mobile{
    display: none;
}

header .navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}

header .navbar .logo{
    height:65px;
    margin-top: initial;
    margin-left:initial;
}

header .navbar .logo img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50px;

}

header .navbar .menu {
    
    display: flex;    
    align-items: center;
    justify-content: center;
}

header .navbar .menu li {
    width: calc(100%/2);
    font-size: var(--font-small);
}

header .navbar .menu a{
    width: initial;
    height: 48px;
    text-align: center;
    display: block;
    line-height: 48px;
}

header .navbar .menu li a.active{
    border-top:initial;
    border-bottom:2px solid var(--dark-blue-color);
    color:var(--dark-blue-color);
}

header .navbar .menu li a{
    border-bottom:2px solid var(--light-grey-color);
}

header .affinity{
    padding:17px;
}

header .affinity .site-description p:first-of-type{
    margin-top: 7px;
    font-size: var(--font-medium);
}

header .affinity .site-description :last-child{
    font-size: var(--font-small);
    margin-top:15px;
}

header.affinity .search form{
    margin-top: 30px;
    font-family: var(--fonts-raleway-bold);
    display: flex;
}

header .affinity .search i{
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;

}

header .affinity .search i.fa-map-marker-alt{
    background-color: var(--light-grey-color);
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

header .affinity .search i.fa-search{
    color:var(--plain-white-color);
    border-radius:15px;
    background-color: var(--dark-blue-color);
}

header .affinity .search .input-field{
    font-size: var(--font-normal);
    border:2px solid var(--light-grey-color);
    padding-left: 15px;
    width: 100%;
}
header .affinity .submit-bt{
    margin-left: -20px;
    background-color: initial;
    color: initial;
    padding-left: initial;
    padding-right: initial;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
}
header .affinity .submit-bt:hover{
    background-color: initial;
    color:initial;
    border : initial;
}

header .affinity .filters{
    margin-top: 30px;
    display: initial;
    height: initial;
}

header .affinity .filters ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 15px;    
    
}

header .affinity .filters li i{
    height: 42px;
    width: 42px;
    line-height: 42px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: 5px;
    color:var(--dark-blue-color);
    background-color: var(--light-blue-color);
    border-radius: 50px;
}

header .affinity .filters li{
    display: flex;
    border-radius: 50px;
    border:2px solid #d8d8d8;
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-small);
    text-align: center;
    height:42px;
    padding-right: 10px;
}

header .affinity .filters li p{
    padding-top:12px;
    padding-left: 4px;
}

header .affinity .search-results{
    display: flex;
    font-size: var(--font-small);
    margin-top:35px;
}

header .affinity .search-results i.fa-solid.fa-info{
    color:var(--dark-blue-color);
    border:1px solid var(--middle-grey-color);
    border-radius: 30px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-left:6px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: var(--font-xsmall);
}

main {
    padding:initial;
    margin-top:initial;
}

main img{
    width: 100%;
}

main .row{
    width: 100%;
    display:flex;
    gap:40px;
    flex-direction: column-reverse;
    justify-content: initial;
} 

main .box{
    border-radius: 0px;
}

main .popular{
    padding-top:initial;
    margin-top:15px;
    padding-left: 10px;
    padding-right:10px;
    min-width: initial;
}

main .popular .cards{
    display: flex;
    flex-direction: column;
    gap:9px;
    margin-top: initial;
    margin-left: initial;
    margin-right: initial;
}

main .popular h2{
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

main .popular article{
    min-width: initial;
    display: flex;
    padding: 5px;
    height: 120px;
    margin-bottom: 5px;
}

main .popular img{
    float: left;
    width: 110px;
    height:110px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right:10px;
}

main .popular article .description{
    height: 110px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-xsmall);
    justify-content: space-between;
}

main .popular article h4{
    margin-bottom: 5px;
}

main .hosting article{
    height: 168px;
    margin: initial;
    padding: initial;
    min-width: initial;
    width: initial;
}

main .hosting article .description{
    height: 60px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-xsmall);
    justify-content: space-between;
    padding-bottom: 5px;
    margin-left: 10px;
}

main .hosting article img{
    padding:5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 105px;
}   

main .hosting{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--font-xsmall);
    gap:10px;
}

main .hebergement{
    padding:10px;
}

main .hebergement.box{
    background-color: var(--plain-white-color);
    margin-top: 15px;
}

main .hebergement .see-more{
    margin-top:40px;
    font-family: var(--fonts-raleway-bold);
}

main .activity{
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-top: initial;
}

main .activity h2{
    margin-top:20px;
    margin-bottom: 20px;
}

main .activity .column{
    width: 100%;
    gap: initial;
}

main .activity article{
    object-fit: contain;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    margin-top: 20px;   
   
}

main .activity article img{
    object-fit: cover;
    object-position: center;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


main .activity article.one img{
    height:100px;
}

main .activity article.two img{
    height:100px;
}

main .activity article.three img{
    height:100px;
}

main .activity article.four img{
    height:100px;
}

main .activity article.five img{
    height:100px;
}

main .activity article.six img{
    height:100px;
}

main .activity article p, main .activity article h4 {
    padding-top: initial;
    padding-bottom: initial;
    padding-left: initial;
    margin-top:15px;
    margin-left:10px;
    margin-bottom: 15px;
}
main .activity .act{
    flex-direction: column;
    all:unset;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--light-grey-color);
}
footer .inner-foot{
    display: initial;
}

footer .column-foot{
    margin-top: initial;
    margin-right: initial;
}

.off-desktop{
    display: initial;
}

footer h3{
    font-size: var(--font-small);
}

footer ul{
    margin-top: 10px;
    margin-bottom:15px;
    font-size: var(--font-xsmall);
}
footer ul li {
    line-height: 25px;
}