:root{
    --dark-blue-color:#0065FC;
    --light-blue-color:#DEEBFF;
    --light-grey-color:#f2f2f2;
    --middle-grey-color:#999;
    --plain-white-color:#FFF;
    --shadow-grey-color:#DDD;
    --fonts-raleway-light: "Raleway-Light";
    --fonts-raleway-bold: "Raleway-Bold";
    --font-small: 18px;
    --font-medium: 20px;
    --font-large: 24px;
}

/* fonts */
@font-face {
    font-family: "Raleway-Light";
    src:url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
            url('../fonts/Raleway-Light/Raleway-Light.woff2') format('woff2'),
            url('../fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light') format('svg'),
            url('../fonts/Raleway-Light/Raleway-Light.eot'),
            url('../fonts/Raleway-Light/Raleway-Light.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Raleway-Light/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
    src:url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
            url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
            url('../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg'),
            url('../fonts/Raleway-Bold/Raleway-Bold.eot'),
            url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Star checked */
.fa-star{
    color:var(--light-blue-color);
}
.fa-star.checked{
    color:var(--dark-blue-color);
}
.fa-solid.fa-info{
    color:var(--dark-blue-color);
    border:1px solid var(--middle-grey-color);
    border-radius: 15px;
    line-height: 26px;
    width: 30px;
    height:30px;
    font-size: var(--font-medium);
    padding-left:10px;
    padding-bottom: 10px;
}

body{
    width: 100%;
    background-color: var(--plain-white-color);
    font-family: var(--fonts-raleway-light);
}

h1{
    text-indent: -99999px;
}

h2{
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-medium);
}

h3{
    font-family: var(--fonts-raleway-bold);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--light-grey-color);
}


h3, footer li{
    line-height: 32px;
}

.content p{
    line-height:48px;
}

.content p:first-of-type{
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-medium);
}

.search{
    border-radius: 20px;
    line-height: 45px;
    background-color: var(--light-grey-color);
    margin-bottom: 35px;;
    font-family: var(--fonts-raleway-bold);
}

.search i{
    padding-left:15px;
    padding-right: 15px;
}

.input-field{
    height:43px;
    background-color: var(--plain-white-color);
    text-align: center;    
}
.recherche-bt{
    padding-left:20px;
    padding-right:20px;
    color:var(--plain-white-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 45px;
    background-color: var(--dark-blue-color);
    margin-left:-2px;
}
.card p:first-of-type {
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-small);
}

/* Mobile*/

@media screen and (max-width: 992px) {
    header .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        height: 55px;;
    }

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

    h2{ 
        line-height: 90px;
    }
    
    .menu {
        display: flex;    
        align-items: center;
        justify-content: center;
    }

    .menu li {
        width: calc(100%/2);
    }

    .menu a{    
        height: 55px;
        text-align: center;
        display: block;
        line-height: 55px;
    }

    .menu li a.active{
        border-bottom:2px solid var(--dark-blue-color);
        color:var(--dark-blue-color);
    }
    .filters{
        display: flex;
        height: 50px;
        margin-bottom:35px;
        font-family: var(--fonts-raleway-bold);
    }
    .filters li{
        display: flex;
        margin-left: 5px;
        border-radius: 50px;
        border:2px solid #d8d8d8;
        margin-top:-2px;
        text-align: center;
        padding-right:15px;
    }
    .filters li i{
        margin-top: -2px;
        color:var(--dark-blue-color);
        background-color: var(--light-grey-color);
        height:52px;
        width:52px;
        line-height: 52px;
        margin-left: -2px;
        margin-right:15px;
        border-radius: 50px;
    }
    .row{
        width: 100%;
        display:flex;
        gap:40px;
        flex-direction: column-reverse;
    } 
    .box{
        border-radius: 0px;
    } 
    .popular img{
        width: 110px;
        height:110px;
    }  
    .card p, .rating{
        margin-left: 0px;
    }
    .hosting{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:30px;
    }
    .hosting .card{
        width: calc(100% - 20px);
        padding: 5px;
    }
    .activity{
        display: flex;
        flex-direction: column;
        padding:5px;
    }
    .activity .column{
        width: 100%;
    }
    .activity img{
        object-fit: cover;
        object-position: center;
        height: 115px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .activity{
        display: flex;
        justify-content: space-between;
        gap:20px;
        margin-bottom : 60px;
        max-width:100%;
    }
    
    footer{
        display: flex;
        flex-direction: column;
    }
    main{
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .activity .card{
        object-fit: contain;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;   
        margin-top: 20px;   
    }
}

@media screen and (min-width: 992px) {
    h2{ 
        line-height: 90px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Menu */
    .menu {
        display: flex;    
        align-items: center;
    }

    .menu a{
        width: 160px;
        height: 130px;
        text-align: center;
        display: block;
        line-height: 130px;
    }

    .menu li a.active{
        border-top:2px solid var(--dark-blue-color);
        color:var(--dark-blue-color);
    }
    ul{
        line-height: 50px;
    }
    
    .logo{
        margin-left: 70px;
    }
    main{
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .search{
        width:355px
    }
    .filters{
        display: flex;
        height: 50px;
        margin-bottom:35px;
        font-family: var(--fonts-raleway-bold);
    }
    .filters li{
        display: flex;
        margin-left: 30px;
        border-radius: 50px;
        border:2px solid #d8d8d8;
        margin-top:-2px;
        text-align: center;
        padding-right:15px;
    }
    .filters li i{
        margin-top: -2px;
        color:var(--dark-blue-color);
        background-color: var(--light-grey-color);
        height:52px;
        width:52px;
        line-height: 52px;
        margin-left: -2px;
        margin-right:15px;
        border-radius: 50px;
    }   
    .row{
        width: 100%;
        display:flex;
        gap:40px;
    }
    .popular .card{
        width: 345px;
    } 
    .popular img{
        width: 132px;
    }
    .card p, .rating{
        margin-left: 10px;
    }
    /* Hébergement */
    .hosting{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:30px;
    } 
    .hosting .card{
        width: calc(100% / 3 - 20px);
        padding: 5px;
    }

    .activity .card{
        object-fit: contain;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;   
    }

    .activity .card img {
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity .column{
        display:flex;
        flex-direction: column;
        gap:40px;
        justify-content: space-between;
        width:calc(100% /4 - 40px)
    }

    .activity .card.one img{
        height:390px;
    }

    .activity .card.two img{
        height:180px;
    }

    .activity .card.three img{
        height:110px;
    }

    .activity .card.four img{
        height:390px;
    }

    .activity .card.five img{
        height:140px;
    }

    .activity .card.six img{
        height:140px;
    }
    .activity{
        display: flex;
        justify-content: space-between;
        gap:40px;
        margin-bottom : 60px;
        max-width:100%;
    }
    footer{
        padding-top:45px;
        padding-left:75px;
        padding-bottom: 45px;
        background-color: var(--light-grey-color);
    }
    footer .inner-foot{
        display: flex;
        justify-content: space-between;
        width:1024px;
    }
}


.see-more{
    font-family: var(--fonts-raleway-bold);
    font-size:var(--font-small);
    line-height:90px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.card{
    background-color: var(--plain-white-color);
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px var(--shadow-grey-color);
}

.card img{
    object-fit: cover;
}

.card p{
    line-height: 25px;
}


.card .rating{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hosting img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-position: center;
    height: 115px;
}

/* Popular */
.popular i{
    line-height: 90px;
    float:right;
}

.popular .card{
    padding:5px;
    display: flex;
}

.popular .description{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

.popular img{
    object-position: center;
    height: 132px;
    margin-right:20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.activity .card img {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity .card p {
    line-height:55px;
    padding-left:5px;
}