
@import "@fortawesome/fontawesome-free/css/all.css";

$raleway : "Raleway" , sans-serif;

$font-xsmall: 14px;
$font-small: 18px;
$font-normal: 16px;
$font-medium: 20px;
$font-large: 24px;

$font-bold : 700;
$font-regular : 400;

body {
    font-family: $raleway;
    font-size: $font-normal;
    font-weight: $font-regular;
}