@use "../utils/colors" as c;
@use "../utils/fonts" as f;
@use "../utils/mixins" as m;


@include m.mobile{
.wrapper{
        all:unset;
    }   
}

.off-desktop{
    display: none;
    @include m.tablet{
        display: initial;
    }
    @include m.mobile{
        display: initial;
    }  
}

.off-mobile{
    @include m.tablet{
        display: none;
    }
    @include m.mobile{
        display: none;
    }
}