/* fonts */
@font-face {
    font-family: "Raleway-Light";
    src: url('../assets/fonts/Raleway-Light/Raleway-Light.woff2') format('woff2'),
         url('../assets/fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
         url('../assets/fonts/Raleway-Light/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../assets/fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
         url('../assets/fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
         url('../assets/fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --dark-blue-color:#0065FC;
    --light-blue-color:#DEEBFF;
    --light-grey-color:#f2f2f2;
    --middle-grey-color:#999;
    --plain-white-color:#FFF;
    --shadow-grey-color:#DDD;
    --fonts-raleway-light: "Raleway-Light";
    --fonts-raleway-bold: "Raleway-Bold";
    box-sizing: border-box;
}

article{
    background-color: var(--plain-white-color);
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px var(--shadow-grey-color);
}

article img{
    object-fit: cover;
}


article .rating{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
article p, .rating{
    margin-left: 10px;
}

.fa-star{
    color:var(--light-blue-color);
}
.fa-star.checked{
    color:var(--dark-blue-color);
}

.fa-star.checked {
    color: #0065FC;
}

.fa-star {
    color: #F2F2F2;
}

.rating {
    display: flex;
    gap: 2px;
}

body{
    width: 100%;
    background-color: var(--plain-white-color);
    font-family: var(--fonts-raleway-light);
}

h1{
    text-indent: -99999px;
}

h2{
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-medium);
}
h2 i.fa-star.fa-star.checked{
    color:#000;
}

h3{
    font-family: var(--fonts-raleway-bold);
}

.box{
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--light-grey-color);
}
.site-description p:first-of-type{
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-medium);
}


article h4{
    font-family: var(--fonts-raleway-bold);
    font-size: var(--font-small);
    margin-left:10px;
}