:root{
    --font-xsmall: 12px;
    --font-small: 14px;
    --font-normal: 16px;
    --font-medium: 19px;
    --font-large: 24px;
}

article{
    background-color: var(--plain-white-color);
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px var(--shadow-grey-color);
}

article img{
    object-fit: cover;
}

.off-mobile{
    display: none;
}

header .navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}

header .navbar .logo{
    height:65px;
    margin-top: initial;
    margin-left:initial;
}

header .navbar .logo img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50px;

}

header .navbar .menu {
    display: flex;    
    align-items: center;
    justify-content: center;
}

header .navbar .menu li {
    width: calc(100%/2);
    font-size: var(--font-small);
}

header .navbar .menu a{
    width: initial;
    height: 48px;
    text-align: center;
    display: block;
    line-height: 48px;
}

header .navbar .menu a{
    border-bottom:2px solid var(--light-grey-color);
}
header .navbar .menu a:hover{
    border-top:initial;

}

header .navbar .menu a:active{
    border-top:initial;
    border-bottom:2px solid var(--dark-blue-color);
    color:var(--dark-blue-color);
}

header .affinity{
    padding:17px;
}

header .affinity .site-description p:first-of-type{
    margin-top: 7px;
    font-size: var(--font-medium);
}

header .affinity .site-description :last-child{
    font-size: var(--font-small);
    margin-top:15px;
}

header .affinity .search form{
    margin-top: 30px;
    font-family: var(--fonts-raleway-bold);
    font-weight: 700;
    display: flex;
}

header .affinity .search i{
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;

}

header .affinity .search i.fa-map-marker-alt{
    background-color: var(--light-grey-color);
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

header .affinity .search i.fa-search{
    color:var(--plain-white-color);
    border-radius:15px;
    background-color: var(--dark-blue-color);
}

header .affinity .search .input-field{
    font-size: var(--font-normal);
    border:2px solid var(--light-grey-color);
    padding-left: 15px;
    width: 100%;
}
header .affinity .submit-bt{
    margin-left: -20px;
    background-color: initial;
    color: initial;
    padding-left: initial;
    padding-right: initial;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
}
.off-desktop {
    display: initial;
}

header .affinity .filters{
    margin-top: 30px;
    display:initial;
    height: initial;
}

header .affinity .filters ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-left: 0px;
}

header .affinity .filters li i{
    height: 42px;
    width: 42px;
    line-height: 42px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: 5px;
    color:var(--dark-blue-color);
    background-color: var(--light-blue-color);
    border-radius: 50px;
}

header .affinity .filters li{
    display: flex;
    border-radius: 50px;
    border:2px solid #d8d8d8;
    font-family: var(--fonts-raleway-bold);
    font-weight: 700;
    font-size: var(--font-small);
    text-align: center;
    height:42px;
    padding-right: 10px;
}

header .affinity .filters li p{
    padding-top: 12px;
    padding-left: 4px;
}

header .affinity .search-results{
    display: flex;
    font-size: var(--font-small);
    margin-top:35px;
}

header .affinity .search-results i.fa-solid.fa-info{
    color:var(--dark-blue-color);
    border:1px solid var(--middle-grey-color);
    border-radius: 30px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-left:6px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: var(--font-xsmall);
}

main{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

main .hebergement {
    padding: 45px;
}

main .hosting {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:18px;
}

main .hosting article{
    padding: 5px;
    min-width: 180px;
    width: calc(100%/3 - 20px);
}

main .hosting article img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    object-position: center;
    height: 115px;
}

main .see-more{
    font-family: var(--fonts-raleway-bold);
    font-weight: 700;
    font-size:var(--font-small);
    margin-top: 30px;
}

main .popular {
    padding: 45px;
}
main .popular article h4 {
    margin-bottom:20px;
}

main .activity article img {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main .activity article p,main .activity article h4 {
    padding-left:5px;
    padding-top:15px;
    padding-bottom: 15px;
}

main .box{
    border-radius: 20px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: var(--light-grey-color);
}

main .row{
    width: 100%;
    display:flex;
    flex-direction: column-reverse;
    gap:40px;
    justify-content: initial;
}

main .popular h2{
   display: flex;
   justify-content: space-between;
}

main .popular .cards{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 25px;
}

main .popular article{
    
    padding:5px;
    display: flex;
}

main .popular img{
    object-position: center;
    height: 132px;
    width: 132px;
    margin-right:20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

main .popular .description{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

main .activity {
    height:1000px;
}

main .act .column article{
    height:initial;
}

main .act .column{
    gap:30px;
}

main .act {
    flex-direction: column;
}
main .act article{
    height:100px; 
}
main .act div:nth-child(1) article img, .act div:nth-child(3) article img {
    height: 100px;
}
main .act .column article img {
    max-height: 100px;
}

footer .inner-foot{
    gap:70px;
    font-size:var(--font-xsmall);
}